.story {
    background-color: rgba(#fff, .6);
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .2);
    padding: 6rem;
    transform: skewX(-12deg);

    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin-right: 5rem;
    }

    &__image {
        height: 100%;
        transform: scale(1.4) translateX(-2.5rem);
        transition: transform .4s, filter .4s;
    }

    & > * {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        width: 50%;
        text-align: center;
        font-size: 1.7rem;
        color: $color-white;
        text-transform: uppercase;
        transition: transform .4s, opacity .4s;
    }

    &:hover &__image {
        transform: translateX(-3.7rem);
        filter: blur(6px) brightness(70%);
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}