body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem 4rem;
}

.heading-primary {
    text-transform: uppercase;
    color: #fff;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.45rem;
        margin-right: -.5em;

        animation: moveInLeft 1s;
        
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        margin-right: -0.8em;

        animation: moveInRight 1s;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: transform .15s;

    &:hover {
        transform: scale(1.1) skewX(24deg) skewY(2deg);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}